---
layout: standard
title: Portfolio
---

<div class="portfolio" id="portfolio">

  <a href="logos"><h1><i class="fal fa-object-group"></i> Logos</h1></a>

  <div id="logos" class="image_list">
{% for graphic in site.logos limit:6 %}
  <div class="image_container hover">
      <img src="{{ graphic.imageurl }}" alt="{{ graphic.description }}">
      <div class="image_description">
        <div class="image_contents">
          <h1>{{ graphic.title }}</h1>
            <hr>
          <a href="logos"><h3>See more logos</h3></a>
        </div>
      </div>
  </div>
{% endfor %}
</div>
  <a href="photographs"><h1><i class="fal fa-camera-retro"></i> Photographs</h1></a>

  <div id="#photographs" class="image_list">
{% for image in site.images limit:6 %}
  <div class="image_container hover">
      <img src="{{ image.imageurl }}" alt="{{ image.description }}">
      <div class="image_description">
        <div class="image_contents">
          <h1>{{ image.title }}</h1>
            <hr>
          <a href="photographs"><h3>See more images</h3></a>
        </div>
      </div>
  </div>
{% endfor %}
  </div>

  <a href="graphics"><h1><i class="fal fa-object-group"></i> Graphics</h1></a>

  <div id="graphics" class="image_list">
{% for graphic in site.graphics limit:5 %}
  <div class="image_container hover">
      <img src="{{ graphic.imageurl }}" alt="{{ graphic.description }}">
      <div class="image_description">
        <div class="image_contents">
          <h1>{{ graphic.title }}</h1>
            <hr>
          <a href="graphics"><h3>See more graphics</h3></a>
        </div>
      </div>
  </div>
{% endfor %}
  </div>
</div>
