---
title: Websites
---
{% include head.html %}
{% include header.html %}

<div class="featuredWork"
style="background: #0D1321"
data-sal="slide-up"
data-sal-delay="100"
data-sal-easing="ease-out-bounce"
data-sal-duration="500">

  <h1>Curated Websites</h1>

  <div class="projectCard" style="background-image: url(/_assets/images/Quixz-Website.png)">
    <div class="projectOverlay">
      <h1>Quixz eSports</h1>
      <a href="https://quixz.eu" target="_blank"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>

  <div class="projectCard" style="background-image: url(/_assets/images/ff.png)">
    <div class="projectOverlay">
      <h1>Finding Futures</h1>
      <a href="https://findingfutures.eu" target="_blank"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>

  <div class="projectCard" style="background-image: url(/_assets/images/portfolio.png)">
    <div class="projectOverlay">
      <h1>Personal Portfolio</h1>
      <a href="https://barsnes.co"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>

</div>

{% include footer.html %}
