<div class="footer"
data-sal="slide-up"
data-sal-delay="1000"
data-sal-easing="ease-out-bounce"
data-sal-duration="500">

  <h1>Copyright © 2018 Tobias Barsnes All Rights Reserved.</h1>

</div>

<!-- Smooth Scroll -->

  <script>
   $(document).ready(function(){
    $("a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1200, function(){
          window.location.hash = hash;
        });
      }
    });
  });
  </script>

<!-- Sal.js -->
<script src="/_assets/sal.js/dist/sal.js">
</script>

<script>
  sal();
</script>

</body>
