<!DOCTYPE html>
<html>
<head>
  <title>Barsnes - {{ page.title }}</title>
  <link REL="SHORTCUT ICON" HREF="{{ baseurl }}/_assets/logo/logo_500.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tobias Barsnes is a 17 year old boy from norway that takes stunning photographs and makes fantastic graphics." />
  <meta name="keywords" content="barsnes, tobias barsnes"/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ baseurl }}/_assets/css/master.css">
  <link href="{{ baseurl }}/_assets/css/fontawesome/css/all.css" rel="stylesheet">
  <!-- Netlify Identity -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Cookies Consent -->
  <link rel="stylesheet" type="text/css" href="_assets/css/cookies.css"/>
  <!-- Jquery -->
  <script src="_assets/js/jquery.js"></script>
  <!-- Google Strucutred Data -->
</head>
