

<body>

<div class="header">
    <a href="{{ baseurl }}/index"><img src="{{ baseurl }}/_assets/logo/logo.png" alt="Tobias Barsnes Logo"></a>
    <nav>
      <div class="toggle">
        <i class="fas fa-bars menu" aria-hidden="true"></i>
      </div>
      <ul class="menulist navlist">
        <li><a href="{{ baseurl }}/index">Home</a></li>
        <li><a href="{{ baseurl }}/portfolio">Portfolio</a></li>
        <li><a href="{{ baseurl }}/contact">Contact</a></li>
      </ul>
    </nav>
</div>

<!-- Hamburger Menu -->

  <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('.menulist').toggleClass('active')
          $('.menulist').toggleClass('navlist')
          $('i').toggleClass('notactive');
        })
      })
  </script>
