<!DOCTYPE html>
<html>
<head>
  <title>Tobias Barsnes // {{ page.title }}</title>
  <link REL="SHORTCUT ICON" HREF="{{ baseurl }}/_assets/logo/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tobias Barsnes is a 17 year old boy from norway that has a passion for stunning graphics, beautiful photgraphs and eye-catching cinematography. Click to view Tobias' portfolio!" />
  <meta name="keywords" content="barsnes, tobias barsnes"/>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ baseurl }}/_assets/css/master.css">
  <link href="{{ baseurl }}/_assets/css/fontawesome/css/all.css" rel="stylesheet">
  <!-- Netlify Identity -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Cookies Consent -->
  <link rel="stylesheet" type="text/css" href="{{ baseurl }}/_assets/css/cookies.css"/>
  <!-- Jquery -->
  <script src="{{ baseurl }}/_assets/js/jquery.js"></script>
  <!-- Google  -->
  <meta name="google-site-verification" content="1Uzpi4sY6CTW4W1M3I7xPBIpJFBeuzXm51yETIOOf30" />
  <!-- Yandex -->
  <meta name="yandex-verification" content="f573b42f505253cf" />
  <!-- Sal.js -->
  <link rel="script" href="{{ baseurl }}/_assets/sal.js/dist/sal.js">
  <!-- Unsplash API -->
  <link rel="script" href="{{ baseurl }}/_assets/js/unsplash.js">
</head>
