@charset "UTF-8";
@import '../sal.js/dist/sal.css';
@font-face {
  font-family: Raleway;
  src:   url("../fonts/raleway/raleway-extrabold.woff") format('woff');
}
@font-face {
  font-family: Lato;
  src:  url('../fonts/lato/lato-regular.woff2') format('woff2'),
        url('../fonts/lato/lato-regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Raleway", "Lato";
  font-size: 100%;
}

body {
  background-color: #0D1321;
  position: relative;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #FFF;
}

/* Header */

.header {
  height: 6em;
  width: 100%;
  font-family: "Lato";
  text-decoration: none;
  background-color: #EF6034;
  width: 100%;
  color: #FFF;
  display: grid;
  grid-template-columns: 20% 15% 60% 5%;
  grid-template-rows: 6em;
  align-items: center;
}

.header img {
  height: 80%;
  grid-column: 1 / 2;
  margin: 0 auto;
}

.header nav {
  text-align: right;
  grid-column: 3 / 4;
  height: 100%
}

.header ul {
  margin: 0;
  height: 100%
}

.header li {
  display: inline-block;
  height: 100%
}

.header a {
  color: #FFF;
  text-decoration: none;
  padding-right: 1.5em;
  padding-left: 1.5em;
  grid-column: 1 / 2;
  height: 100%;
  display: grid;
  align-items: center;
}

.toggle {
  display: none;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  height: 100%;
  line-height: 3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #FFF;
  overflow-x: hidden;
}

hr {
  border-color: #FFF;
  margin: 0 auto;
}

a:-webkit-any-link {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

/* portfolio */

.portfolio {
  height: auto;
  width: 100%;
  background-color: #4E598C;
  text-align: center;
  margin: 0;
}

.portfolio h1 {
  padding: 4rem;
  margin: 0;
  text-decoration: none;
  color: #FFF;
}

.programs {
  background-color: #10aded
}

.portfolio_ a {
  text-decoration: none;
  color: #FFF;
}

.footer {
  background-color: #0D1321;
  text-align: left;
  font-size: .4rem;
  padding: 2rem;
  margin: 0;
  font-family: "Lato"
}

/* About */

.about {
  width: auto;
  text-align: center;
  background-color: #FFEDDF;
  margin: 0;
  padding: 0 1rem;
  color: #0D1321;
}

.about h1 {
  padding: 1.5rem 0 0 0;
  font-size: 2.5rem
}

.about_content {
  width: 50%;
  margin: 1.5em 25%;
  text-align: left;
  font-family: "Lato"
}

.about_content img {
  width: 50%;
  margin: 1rem 25%;
}

.landing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  text-align: right;
}

.landing_content {
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
  text-shadow:  0 0 70px #00000070;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem
}

.landingText h1 {
  font-size: 4rem;
  padding: .5rem;
  margin-top: 3rem;
}

.landingText h2 {
  font-size: 2rem;
  padding: .5rem;
  font-family: Lato
}

.landingText {
  grid-column: 1 / 2;
  text-align: center;
}

.featuredWork {
  display: grid;
  padding: 2rem 4rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 1rem;
  background-color: #EF6034;
}

.featuredWork h1 {
  grid-column: 1 / 4;
  margin: auto;
  position: relative;
  z-index: 3
}

.projectCard {
  height: 15rem;
  overflow-x: hidden;
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  transition: scale(1);
  transition: transform 150ms ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
  transition: transform 150ms ease-in-out
}

.projectOverlay {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  background-color: none;
  transition: display 150ms ease;
  transition: background 150ms ease
}

.projectCard:hover .projectOverlay {
  display: grid;
  transition: display 150ms ease;
  transition: background 150ms ease;
  background-color: #2648a560;
}

.projectOverlay h1 {
  margin: auto;
  text-shadow: 0 0 30px #000
}

.projectOverlay a {
  text-decoration: none;
  color: #EF6034;
  margin: auto;
  transform: translateX(0);
  transition: transform 150ms ease-in-out;
  text-align: center;
}

.projectOverlay a:hover {
  color: #000;
  transform: translateX(.5rem);
  transition: transform 150ms ease-in-out
}

.work {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 6rem 20rem 1fr;
  text-align: center;
  grid-gap: 1rem;
}

.work h1 {
  grid-column: 1 / 6;
  margin: auto;
}

.workCard {
  background-color: #FFF;
  color: #000;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

.workCard h2 {
  font-size: 2rem;
  margin: auto;
}

.workCard h3 {
  font-size: 1.6rem;
  margin: auto;
}

.workCard p {
  margin: auto;
}

.workCard a {
  text-decoration: none;
  color: #EF6034;
  margin: auto;
  transform: translateX(0);
  transition: transform 150ms ease-in-out;
  position: relative;
  z-index: 3
}

.workCard a:hover {
  color: #000;
  transform: translateX(.5rem);
  transition: transform 150ms ease-in-out
}

.cardLogos {
  grid-column: 2 / 3;
}
.cardPhotos {
  grid-column: 3 / 4;
}
.cardWeb {
  grid-column: 4 / 5;
}


@media (max-width: 800px) {
  .landing {
    height: calc(100vh - 6rem)
  }

  .work {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    padding: 2rem 5%;
  }

  .work h1 {
    grid-column: 1 / 2;
  }

  .workCard {
    background-color: #FFF;
    color: #000;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
  }

  .cardLogos {
    grid-column: 1 / 2;
  }
  .cardPhotos {
    grid-column: 1 / 2;
  }
  .cardWeb {
    grid-column: 1 / 2;
  }

  .featuredWork {
    grid-template-columns: 1fr;
  }

  .featuredWork h1 {
    grid-column: 1 / 2;
  }

  .about_content {
    width: 90%;
    margin: 1.5em 5%;
    text-align: left;
    font-family: "Lato"
  }

  .image_list {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }

  /* Header */

  .header {
    height: 6em;
    width: 100%;
    font-family: "Lato";
    text-decoration: none;
    background-color: #EF6034;
    width: 100%;
    color: #FFF;
    display: grid;
    grid-template-columns: 30% 40% 20% 10% ;
    grid-template-rows: 6em;
    align-items: center;
  }

  .toggle {
    display: block;
    font-size: 2rem;
    grid-column: 3 / 4;
    height: 100%;
    display: grid;
    align-items: center;
    line-height: 3em;
  }

  .active {
    display: block;
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
    background-color: #EF6034
  }

  .active li {
    width: 100%;
    padding: 1.5rem;
  }

  .navlist {
    display: none
  }

  .header ul {
    height: auto;
    padding: 1.5rem 0;
  }
}
