{% include head.html %}
{% include header.html %}

<div class="article">
  <img src="{{ page.image }}" alt="{{ page.description }}" og:image></img>


  <h1>{{ page.title }}</h1>
  <h5 style="font-size:.9em; color:#FFF; letter-spacing:1px">Written by {{ page.author }}</h5>
  <h5>{{ page.date | date: '%B %d, %Y' }}</h5>
  <hr>
  <div class="article_content">

    {{ content }}

  </div>
</div>

<style>

  body {
    background-color: #0D1321
  }

  .highlighter-rouge {
    overflow: auto;
    background-color: #222222;
    padding: 1rem;
    box-shadow: inside 0 0 10px #000;
    border: solid #ddd 2px;
    border-radius: 5px;
    margin: 1rem auto;
  }

  .article {
    color: #000;
    width: 650px;
    margin: 0 calc((100% - 650px) / 2);
    padding-top: 1em;
    color: #FFF;
    margin-bottom: 10em
  }

  .article img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #00000070
  }

  .article_content img {
    width: 60%;
    margin: 1em auto;
    display: block;
    box-shadow: 0 0 30px #00000070
  }

  .article p {
    font-family: "Lato";
    padding-top: 1em;
  }

  .article a {
    color: #EF6034;
    text-decoration: none
  }

  .article h1 {
    margin-bottom: .2em
  }

  .article h5 {
    font-family: "Lato";
    padding: .2em 0;
    margin: 0 .1rem;
    color: #EF6034;
    text-align: right;
  }

  .article h2 {
    padding-top: 1em;
  }

@media (max-width:1050px) {

  .article {
    width: 100%;
    margin: 0;
  }

  .article p {
    padding: 0 1em
  }

  .article h1 {
    padding: 0 .5em
  }

  .article h5 {
    padding: 0 1rem;
  }

  .article hr {
    margin: .5em;
  }
}

}

</style>

{% include footer.html %}
