{% include head.html %}
{% include header.html %}

<div class="portfolio" id="portfolio">

  <h1><i class="fal fa-camera-retro"></i> Photographs</h1>

  <div class="image_list">
{% for image in site.images limit:12 %}
  <div class="image_container">
      <img src="{{ image.imageurl }}" alt="{{ image.description }}">
      <div class="image_description">
        <div class="image_contents">
          <h1>{{ image.title }}</h1>
            <hr>
          <a href="{{ baseurl }}{{ image.imageurl }}"><h3>See full image</h3></a>
        </div>
      </div>
  </div>
{% endfor %}
  </div>

  <h1><i class="fal fa-object-group"></i> Graphics</h1>

  <div class="image_list">
{% for image in site.graphics limit:12 %}
  <div class="image_container">
      <img src="{{ image.imageurl }}" alt="{{ image.description }}">
      <div class="image_description">
        <div class="image_contents">
          <h1>{{ image.title }}</h1>
            <hr>
          <a href="{{ baseurl }}{{ image.imageurl }}"><h3>See full image</h3></a>
        </div>
      </div>
  </div>
{% endfor %}
  </div>
</div>

<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{% include footer.html %}
