{% include head.html %}
{% include header.html %}

<div class="portfolio" id="portfolio">
  <div class="image_list">
    {% for image in site.images limit:12 %}

      <img src="{{ image.imageurl }}" alt="{{ image.description }}">

    {% endfor %}
  </div>
</div>

<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{% include footer.html %}
