{% include head.html %}
{% include header.html %}

<div class="landing">

  <div class="landing_content">

    <div class="slideshow-container">

    <div class="landingText"
    data-sal="slide-down"
    data-sal-delay="300"
    data-sal-easing="ease-out-bounce"
    data-sal-duration="500">
        <h1>Tobias Barsnes</h1>
        <h2>Portfolio</h2>
    </div>

  </div>
</div>

<div class="greenLandscape">
  <p>Landscape Art</p>
</div>

<div class="desertLandscape">
  <p>Landscape Art</p>
</div>

<div class="about"
data-sal="slide-up"
data-sal-easing="ease-out-bounce"
data-sal-duration="500">
  <h1>{{ page.about.about_title }}</h1>
  <div class="about_content">
    {{ content }}
  </div>
</div>

<div class="work">

  <h1
  data-sal="slide-up"
  data-sal-delay="100"
  data-sal-easing="ease-out-bounce"
  data-sal-duration="500">Specialities</h1>

  <div class="workCard cardLogos"
    data-sal="slide-up"
    data-sal-delay="300"
    data-sal-easing="ease-out-bounce"
    data-sal-duration="500"
  >
    <h2 class="fal fa-pen-nib"></h2>
    <h3>Logos</h3>
    <p>I specialize in making logos that will brand your company to new heights.</p>
    <a href="logos"><i class="fal fa-long-arrow-right"></i> Learn more</a>
  </div>

  <div class="workCard cardPhotos"
    data-sal="slide-up"
    data-sal-delay="400"
    data-sal-easing="ease-out-bounce"
    data-sal-duration="500"
  >
    <h2 class="fal fa-camera-alt"></h2>
    <h3>Photographs</h3>
    <p>I shoot amazing shots that makes you stand out.</p>
    <a href="photographs"><i class="fal fa-long-arrow-right"></i> Learn more</a>
  </div>

  <div class="workCard cardWeb"
    data-sal="slide-up"
    data-sal-delay="500"
    data-sal-easing="ease-out-bounce"
    data-sal-duration="500"
  >
    <h2 class="fal fa-file-code"></h2>
    <h3>Coding</h3>
    <p>I make websites that want users to explore your content, not others.</p>
    <a href="coding"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
  </div>

</div>

<div class="featuredWork"
data-sal="slide-up"
data-sal-delay="100"
data-sal-easing="ease-out-bounce"
data-sal-duration="500">

  <h1>Selected Works</h1>

{% for project in site.projects reversed limit: 4 %}
  <div class="projectCard" style="background-image: url({{ project.image }})">
    <div class="projectOverlay">
      <h1>{{ project.title }}</h1>
      <a href="{{ project.url }}"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>
{% endfor %}

  <div class="projectCard" style="background-image: url(/_assets/images/Quixz-Website.png)">
    <div class="projectOverlay">
      <h1>Quixz eSports Website</h1>
      <a href="https://quixz.eu" target="_blank"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>

  <div class="projectCard" style="background-image: url(/_assets/images/img_7121.jpg)">
    <div class="projectOverlay">
      <h1>Photographs</h1>
      <a href="{{ baseurl }}/photographs"><i class="fal fa-long-arrow-right" class="viewMore"></i> Learn more</a>
    </div>
  </div>
</div>
<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{% include footer.html %}
