{% include head.html %}
{% include header.html %}

<div class="project">

  <h1
  data-sal="slide-up"
  data-sal-delay="100"
  data-sal-easing="ease-out-bounce"
  data-sal-duration="300">{{ page.title }}</h1>
</div>

<div class="stats">
  <a href="https://unsplash.com">Stats from Unsplash</a>
  <div class="statsText"><h2><i class="far fa-eye"></i> Views</h2>
    <h3 class="views"></h3>
  </div>
  <div class="statsText">
    <h2><i class="fal fa-long-arrow-down"></i> Downloads</h2>
    <h3 class="downloads"></h3>
  </div>
</div>

<div class="projectImages">

  <div class="projectContainer">

  </div>

</div>

<script>

$.getJSON('https://api.unsplash.com/users/barsnes/photos/?client_id=8b3c252d6e0cb802c2a6b4749ef5e151d523dc5973c8e7f0d4c575f08aa4d4bd', function(data) {
$.each(data, function(index, value) {
    var imageURL = value.urls.regular;

    $('.projectContainer').append('<img src="' + imageURL + '">');

  });
});

$.getJSON('https://api.unsplash.com/users/barsnes/statistics/?client_id=8b3c252d6e0cb802c2a6b4749ef5e151d523dc5973c8e7f0d4c575f08aa4d4bd', function(data) {
$.map(data, function(index) {

    var totalViews = data.views.total;
    var totalDownloads = data.downloads.total;

    var newViews = totalViews.toString().match(/.{3}/g).join(' ');

    $('.views').text(newViews);
    $('.downloads').text(totalDownloads);

  });
});

</script>
{% include footer.html %}
