{% include head.html %}
{% include header.html %}


<div class="project">

  <h1
  data-sal="slide-up"
  data-sal-delay="100"
  data-sal-easing="ease-out-bounce"
  data-sal-duration="300">{{ page.title }}</h1>
</div>

<div class="projectImages">
  {% assign delay = 500 %}
  {% for image in page.gallery %}
  {% assign delay = delay | plus: 100 %}
  <div class="projectContainer">
      <img src="{{ image }}" alt="Created by Tobias Barsnes"
      data-sal="slide-up"
      data-sal-delay="100"
      data-sal-easing="ease-out-bounce"
      data-sal-duration="{{ delay }}"
      >
  </div>
  {% endfor %}
</div>

{% include footer.html %}
